.qus-container{
  display: flex;
}
.qus-container h1 {
  text-align: center;
  margin: 15px 15px;
}
.qus-container p {
  text-align: justify;
  margin: 0px 25px;
}
.fst-ques{
  background: orange;
  margin: 10px 25px;
  border-radius: 15px;
  padding: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media screen and (max-width:414px){
  .qus-container{
    display: none;
  }
}